/* add CSS class and element and selectors here */
body {
  font-size: 100%;
  background-color: white;
}

.courtneysampleclass{
  font: 200%;
  border: 10px dotted purple;
  background-color: #78F8F7;
}